<ion-content [fullscreen]="true">
  <div class="back">
    <ion-fab-button (click)="back()">
    <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </div>

  <div class="center">
    <h1 class="title">Sensitivity Analysis</h1>
    <ion-card>
    <img [src]="base64Image" alt="Image">
    <h1> <span>Sensivity :</span> 0 %</h1>
    <h2><span>Report : </span> There is no sensitive content in this image</h2>
    <ion-button (click)="playAudio()">Play Audio</ion-button>
    

  </ion-card>
  </div>
  
</ion-content>