<ion-content [fullscreen]="true">
  <div class="back">
    <ion-fab-button (click)="back()">
    <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </div>
  <div class="center-content">
    <img src="assets/createuser.png" alt="">
    <h2>Create New User</h2>
    
    <ion-input type="text" label="Full Name" fill="outline" labelPlacement="floating" name="fullName" required></ion-input>
    <ion-input type="tel" label="Phone" fill="outline" labelPlacement="floating" name="Phone" required></ion-input>
    <ion-input type="email" label="Email" fill="outline" labelPlacement="floating" name="email" required></ion-input>
    <ion-input label="Password" labelPlacement="floating" fill="outline" type="password" name="password" required></ion-input>
    <p *ngIf="errorMsg" class="errorMsg">Please enter vaild details </p>
    <ion-button (click)="createUser()">Create User</ion-button>
    <ion-button (click)="goToLoginPage()">Back to Login</ion-button>
  </div>
</ion-content>
