ion-content{
  --background: #f5f5f5;
}

.content-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #333333;

}

.img img {
  max-width: 100%;
  height: auto;
  margin-top: 70%;
  display: block;
}

.title h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.tagline p {
  font-size: 1rem;
  color: #666666;
  margin: 5% 0 20px;
}