<ion-content [fullscreen]="true">
  <div class="back">
    <ion-fab-button (click)="back()">
    <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </div>

  <div class="center">
    <h1 class="title">Image Captioning</h1>
    <ion-card>
    <img [src]="base64Image" alt="Image">
    <h1>{{caption}}</h1>
    <ion-button (click)="playAudio()">Play Audio</ion-button>
    <h1>Senitivity of the image is </h1>
    <ion-range min="1" [disabled]="true" max="100" [(ngModel)]="sensitivityValue">
      <ion-label slot="start">1</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>

    <ion-label class="range-value">{{ sensitivityValue }}</ion-label>
  </ion-card>
  </div>
  
</ion-content>