.center{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .title{
     font-size: 20px;
     font-family: "Montserrat-Regular";
     font-weight: bolder;
  }
}

ion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff; 
    margin: 10% 5%;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px; // Apply rounded corners to the image
  }
  ion-label {
    margin: 0 10px;
  }
  
  /* Optional: Style the ion-header (if needed) */
  ion-header {
    background-color: #3880ff; // Header background color
    ion-toolbar {
      --color: #ffffff; // Text color
    }
  }
  h1{
    font-size:25px;
    font-weight: bolder;
    font-family: "Montserrat-Regular";
    text-transform: capitalize;
    color: black;
  }

  h1 span{ 
    font-size:medium;
    font-weight: bold;
    font-family: "Montserrat-Regular";
  }