@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-text,
ion-button,
ion-input,
ion-label,
h1,
h2,
h3,
body,
ion-content {
    font-family: "Montserrat-Regular";
}

ion-button {
    font-weight: bold;
    letter-spacing: 2.5px;
    --background: rgb(3, 3, 56);
}

ion-content {
    --background: #f0f0f0;
}

ion-fab-button {
    --background: rgb(3, 3, 56);
}

.errorMsg {
    color: red;
    font-size: smaller;
    text-align: center;
    font-family: "Montserrat-Regular";
}

.back {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logout {
    position: absolute;
    top: 10px;
    right: 10px;
}
