<!-- userdashboard.page.html -->
<ion-content class="modern-content">
  <div class="logout">
    <ion-fab-button (click)="logout()" color="danger">
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </div>

  <div class="center-content">
    <h2 class="title">Click an image to Analyze</h2>
    <div>
      <img src="assets/camera.png" alt="">
    </div>
    <ion-button (click)="openCamera()" class="modern-button">
      <ion-icon name="camera" class="modern-icon"></ion-icon>
      <span>Open Camera</span>
    </ion-button>
    <h2 class="modern-heading">or</h2>
    <label class="custom-file-upload" for="fileInput">
      <ion-icon name="cloud-upload-outline"></ion-icon> Upload Image
      <input type="file" id="fileInput" accept="image/*" (change)="uploadFromDevice($event)">
    </label>
    <p *ngIf="errorMsg" class="errorMsg"> Please Capture or Upload the image</p>
    <p *ngIf="uploadedFileName" class="uploadedFileName">Uploaded File: {{ uploadedFileName }}</p>

    <ion-button (click)="Analyze()">
      <ion-spinner *ngIf="isLoading" name="circular" color="light"></ion-spinner>
      <span *ngIf="!isLoading">Analyze the image</span>
      <ion-icon *ngIf="!isLoading" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
