ion-content.modern-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the content takes up the full viewport height */
}

.center-content {
  text-align: center;
  width: 100%;
  max-width: 300px; /* Adjust the max-width to your desired value */
  margin: 0 auto;
  padding: 20px; /* Add padding for spacing */
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px; /* Add margin at the bottom of images */
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  margin-top: 20px; /* Add margin at the top of the file upload button */
}

.errorMsg {
  color: red;
  font-size: 14px;
  margin-top: 20px; /* Add margin at the top of the error message */
}

ion-button {
  margin-top: 50px; /* Add margin at the top of the buttons */
}

ion-icon{
  margin-right:10px;
}