.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modern-icon{
  margin-right: 10px;
}

.title{
  font-weight: bolder;
}

/* Style for the custom file upload label */
.custom-file-upload {
  display: inline-block;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.custom-file-upload:hover {
  background-color: #e3e3e3;
}


.custom-file-upload ion-icon {
  font-size: 24px; 
  margin-right: 10px;
  vertical-align: middle; 
}


.custom-file-upload input[type="file"] {
  display: none;
}


.custom-file-upload span {
  font-weight: bold;
}


.custom-file-upload input[type="file"]:not(:empty) + label {
  background-color: #4CAF50;
  color: white;
  border-color: #4CAF50;
}

.custom-file-upload input[type="file"]:hover + label {
  background-color: #2E7D32;
  color: white;
  border-color: #2E7D32;
}
